{% extends "base.html" %}

{% block Content %}
{% load staticfiles %}
<div>
<div id="center"><h1>Minutes for Saturday, July 28, 2012</h1></div>
<hr />
<p>On
Saturday, July 28, 2012 the 37<SUP>th</SUP>
annual meeting of the Rockman Reunion was called to order by our
President, Mary Mertinke, at River Park in Mosinee. A moment of
silence was observed for those that have passed on from us. 
</p>
<p><BR>
</p>
<p>A total of
64 members attended the meeting, of which 40 where adults. 
</p>
<p><BR>
</p>
<p>Kay Lamb
gave the treasurers report:   <BR>- Last year we ended with a balance
of $360.77 <BR>- $83.50 was spent on the cemetery beautification, on
the graves of our loved ones<BR> - Current balance of $277.27 in the
general fund.</p>
<p> - Current
balance of $633.18 in the savings account.<BR>- Larry and Marylou
Rockman donated $10.00 to the cemetery fund.   
</p>
<p>-  The
Virginia Miller Knights family donated $100.00 to be put in the
general fund and used as needed.   <BR><BR>Mark Brilowski made a
motion to accept the treasures report and Rick Miller seconded it. 
</p>
<p><BR>
</p>
<p>Meeting
minutes from last year were e-mailed out and posted on the family
website. 
</p>
<p><BR>
</p>
<p>Larry
Rockman said no money was needed for the website upkeep.  He said we
are good for a couple of years yet.  Larry said the website address
is: <a href="http://www.ohrockman.com/">www.ohrockman.com</a>
  and you can e-mail Larry at  <a href="mailto:webmaster@ohrockman.com">webmaster@ohrockman.com</a></p>
<p>Larry
asked everyone to please, send more information for the website and
asked us all to look over want is already on the website to make sure
it is correct. 
</p>
<p><BR>
</p>
<p>Nancy
Houghtby asked if we will continue to have this reunion at River
Park.  Ken Rieck, who has for a number of years taken care of
securing the park for us, has already reserved the park for 2013.   
Lynn input that the playground and bathrooms are a long way away, and
maybe we should look at other options like Desert Park. 
</p>
<p><BR>
</p>
<p>Nancy
Houghtby reported that she found a cousin of ours on Face book. His
name is Ulf Leadvikson. Nancy said he speaks good English and he told
Nancy to say &ldquo;hi&rdquo; to all of us. He lives in Pranheim,
Norway. 
</p>
<p><BR>
</p>
<p>Mary again
mentioned that we have River Park for the entire day. She asked
everyone what they thought about staying longer at the park.  Mary
and Kay Lamb will be discussing this topic and will come up with some
fun and interesting things for us to do next year. Mary is going to
work on a Rockman trivia sheet for us to do. Hopefully, everyone will
plan to stay longer next year and get to know each other better.  
</p>
<p><BR>
</p>
<p>Jerry
mentioned that years ago the kids would be taken to another place to
play games so the meeting could go on and adults talk.   Some
discussion on this followed. 
</p>
<p><BR>
</p>
<p>Nancy
Houghtby mentioned we could bring graduation or birth pictures to
figure out who is who as a fun game. 
</p>
<p><BR>
</p>
<p>This is an
election year! Nancy Schilling nominated Mary Mertinke for another
two year term. Mary Lou Rockman seconded it. Mary graciously
accepted. 
</p>
<p><BR>
</p>
<p>Lisa
Schilling willingly accepted the position of secretary for two more
years. 
</p>
<p><BR>
</p>
<p>Kay Lamb
is our treasurer &ldquo;until we ask her to retire&rdquo;. 
</p>
<p><BR>
</p>
<p>Judy
Martino reported on the scholarship fund. The recipient of the Helen
and Oscar Memorial Scholarship this year was Jennifer Gliniecki. 
</p>
<p><BR>
</p>
<p>Judy also
reported that Maria and Steve Hudson will be adopting a baby boy from
South Carolina and will pick him up in August.    Please pray for
them as they give of themselves in this wonderful undertaking. 
</p>
<p><BR>
</p>
<p>The
Brilowski&rsquo;s have a new baby granddaughter named Samantha.
</p>
<p><BR>
</p>
<p>Kay Lamb
thanked everyone for their prayers for Alan Rockman and his family in
the loss of their young daughter Callie. Kay asked for continued
prayers for the family. 
</p>
<p><BR>
</p>
<p>Nancy
Houghtby reported on her dad&rsquo;s health. Al will be moving soon
to an assisted living complex. Al has had a series of small strokes
and has some dementia going on. 
</p>
<p><BR>
</p>
<p>Nicole
Rockman introduced her friend, Drea from Stevens Point. 
</p>
<p><BR>
</p>
<p>A round of
applause was given to Diane Michalski for the wonderful job she does
taking care of the cemetery plots that belong to our loved ones. 
</p>
<p><BR>
</p>
<p>Mary is
going to be looking to update contact information, when you send to
her please let her know if you want to be listed or unlisted.  
Listed means that other members of the family can be provided your
contact information if requested. <BR><BR>Suggestion was made to have
a cork board with the meeting minutes, treasures report, scholarship
fund and other information on it so people can view and read. 
</p>
<p><BR>
</p>
<p>Sandy
Sachman made a motion to adjourn the meeting. Lynn DeSalvo seconded
the motion.  
</p>
</div>
{% endblock %}
