<div id="navbar" class="navlarger">
	<a href="/">Home</a>
	<a href="/familytree/1">Family Tree</a>
	<!-- <a href="/reunion">Reunion</a>
	<a href="/minutes">Articles &amp; News</a> -->
	<a href="mailto:rocks@charter.net">Contact Us</a>
</div>
<div id="navbar" class="navsmaller">
	<a href="/familytree/18">Myron</a>
	<a href="/familytree/55">Anna</a>
	<a href="/familytree/92">Harold</a>
	<a href="/familytree/94">Donald</a>
	<a href="/familytree/170">Dorothy</a>
	<a href="/familytree/180">Virginia</a>
	<a href="/familytree/200">Reginald</a>
	<a href="/familytree/223">Helen</a>
	<a href="/familytree/244">Joyce</a>
	<a href="/familytree/270">Lois</a>
</div>