{% extends "base_with_nav.html" %}

{% block Content %}
{% load staticfiles %}
<div id="center">
<h2>- Next Reunion Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; July, 26th 2014 @ 12:00pm(Noon) -</h2>
<br />
<div id="left50">
<iframe width="100%" height="250px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Armory+Road,+Mosinee,+WI&amp;hl=en&amp;gl=us&amp;hnear=Armory+Rd,+Mosinee,+Marathon,+Wisconsin+54455&amp;t=m&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;ll=44.797377,-89.707383&amp;spn=0.003502,0.007972&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=Armory+Road,+Mosinee,+WI&amp;hl=en&amp;gl=us&amp;hnear=Armory+Rd,+Mosinee,+Marathon,+Wisconsin+54455&amp;t=m&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;ll=44.797377,-89.707383&amp;spn=0.003502,0.007972&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<iframe width="100%" height="250px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2830.4020670030877!2d-89.70968599999999!3d44.813373000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880017d2a7cdc981%3A0xc93691baa1b86590!2sPinewood+Supper+Club!5e0!3m2!1sen!2sus!4v1404133958584"></iframe><br /><small><a href="https://www.google.com/maps/place/Pinewood+Supper+Club/@44.813373,-89.709686,17z/data=!3m1!4b1!4m2!3m1!1s0x880017d2a7cdc981:0xc93691baa1b86590" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<!-- <iframe width="100%" height="250px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=St+Paul+Cemetery,+Mosinee,+Wisconsin&amp;aq=0&amp;oq=St.+,+mosinee+wisconsin&amp;sll=44.785317,-89.68262&amp;sspn=0.039414,0.071583&amp;t=m&amp;ie=UTF8&amp;hq=St+Paul+Cemetery,&amp;hnear=Mosinee,+Marathon,+Wisconsin&amp;ll=44.799286,-89.71158&amp;spn=0.013778,0.018484&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=St+Paul+Cemetery,+Mosinee,+Wisconsin&amp;aq=0&amp;oq=St.+,+mosinee+wisconsin&amp;sll=44.785317,-89.68262&amp;sspn=0.039414,0.071583&amp;z=14&amp;t=m&amp;ie=UTF8&amp;hq=St+Paul+Cemetery,&amp;hnear=Mosinee,+Marathon,+Wisconsin&amp;ll=44.799286,-89.71158&amp;spn=0.013778,0.018484" style="color:#0000FF;text-align:left">View Larger Map</a></small> -->
</div>
<div id="textRight50">
<div id="center"><h2>2014 Reunion Details</h2><hr /></div>
<p>The "Friday Fish Fry" get-together before the reunion is Friday July 25th, dinner starts around 6pm, at <span class="italic">The Pinewood Supper Club.</span>  Please RSVP <a href="mailto:mmertinke@hotmail.com">Mary Maertinke</a>, she would like an accurate head count.</p>
<br />
<p> The 2014 family reunion will be held on Saturday July 26th at River Park in Mosinee, WI at 12:00pm(Noon)</p>
<br />
<p>Last year we voted to have Rockman's Catering do a pig roast in honor of Dick Rockman this year.  Scott Rockman will be doing the pig roast but will also do chicken for those who don't want pork.  I also need a RSVP for the Saturday Reunion with your choice of pork or chicken.  Since Scott is only providing the meat you still need to bring a dish to pass.</p>

<br />
</div>
<div id="center" class="clear">
<br />
<br />
</div>
</div>
{% endblock %}
